.home {
	background-image: url(https://images.pexels.com/photos/255501/pexels-photo-255501.jpeg?cs=srgb&dl=pexels-pixabay-255501.jpg&fm=jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}
.title{
	color: red;
	position: fixed;
	top: 18%;
	left: 50%;
	margin-top: -50px;
	margin-left: -210px;
	text-shadow: 1px 1px 2px white;
	font-size: 50px;
}
.star {
	color: gold;
	font-size: 60px;
}
.navbar {
	position: fixed;
	/* background-color: red; */
	margin-bottom: 90px;
}
.link-text {
	color: gold;
}
.link-text:hover {
	color: white;
}

.michelin-pic {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -70px;
	margin-left: -120px;
}
