.restImg:hover {
	width: 110%;
}

.restLinks {
	border-color: lightcyan;
	margin: 15% 3%;
	padding-top: 2%;
}

.restLinks .restlinktext {
	text-decoration: none;
	color: darkblue;
}

.restlinktext:hover {
	color: firebrick;
}
