body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  	background-image: url(https://images.pexels.com/photos/255501/pexels-photo-255501.jpeg?cs=srgb&dl=pexels-pixabay-255501.jpg&fm=jpg);
	background-size: cover;
	background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.star{
  color: gold;
  font-size: 60px;
}
.navbar{
  
  /* background-color: red; */
}
.link-text{color: gold;
  
}
.link-text:hover{color: white;}

.michelin-pic{
  
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -120px;

}